@{
	ViewData["Title"] = "Moderacion";
}
<div>
	<header class="navbar fixed-top navbar-dark bg-dark">
		<div class="container-fluid justify-content-around ">

			<h2>Moderación</h2>
			<h4>Pantalla Inicial</h4>

		</div>
	</header>
</div>
			