<div>
	<header class="navbar fixed-top navbar-dark bg-dark">
		<div class="container-fluid justify-content-around ">

			<h2>Moderación</h2>
			<h4>Mapa de Actividades</h4>

		</div>
	</header>
</div>
