@{
	ViewData["Title"] = "Notificaciones";
}

<div>
	<header class="navbar fixed-top navbar-dark bg-dark">
		<div class="container-fluid justify-content-around ">

			<h2>Moderación</h2>
			<h4>Reportes y Notificaciones</h4>

		</div>
	</header>

</div>
