@{
    ViewData["Title"] = "Configuracion";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/cofiguraciones.css" />
</head>
<body>
    <div class="config-container">
        <header>
            <h1>Configuraciones</h1>
            <a class="salir-btn" href="/Sesion/Salir">Salir</a>
        </header>
        <div>
            <div>
                <a href="/Reporte/FormReport" class="btn">
                    Generar reportes por fechas</a>
            </div>
        </div>
        <section class="funcionalidades">
            <h2>Funcionalidades</h2>
            <p>Próximamente: reportes, exportaciones, personalización de cuenta, y más.</p>
        </section>
    </div>
</body>
</html>
