@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    @if (ViewBag.estaLogueado)
    {
        <div id="contadorActividades" class="position-fixed fs-4 text-white p-2 rounded" style="z-index:10; top:50px; left:20px; background-color: mediumpurple; min-width:50px;">
            @ViewBag.actividades.Count 
        </div>
 
        <div id="map" style="z-index:1"></div>

        <script src="~/js/cargarMapa.js"></script>
    }
    else
    {
        <a href="/Sesion">Iniciar Sesion</a>
        <span>o</span>
        <a href = "/Sesion/Registrarse" > Registrarse </a>
        <span>o</span>
        <a href="/Sesion/RegistroAnfitrion"> Registrate como anfitrion </a>
    }
</div>
