@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    @if (ViewBag.estaLogueado)
    {
        <div style="z-index:10" class="position-absolute">
            <h1>Estas logueado como @ViewBag.nombreUsuario</h1>
            <a href="/Sesion/Salir">Salir</a>
        </div>
        <div id="map" style="z-index:1"></div>

        <script type="text/javascript">
            const ACTIVIDADES = @Html.Raw(Json.Serialize(ViewBag.actividades));
        </script>
        <script src="~/js/cargarMapa.js"></script>
    }
    else
    {
        <a href="/Sesion">Iniciar Sesion</a>
        <span>,</span>
        <a href = "/Sesion/Registrarse" > Registrarse </a>
        <span>o</span>
        <a href = "/Sesion/RegistrarseAnfitrion" > Registrarse como Anfitrion </a>

    }
</div>
