@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    @if (ViewBag.estaLogueado)
    {
        <div id="map" style="z-index:1"></div>

        <script type="text/javascript">
            const ACTIVIDADES = @Html.Raw(Json.Serialize(ViewBag.actividades));
        </script>
        <script src="~/js/cargarMapa.js"></script>
    }
    else
    {
        <a href="/Sesion">Iniciar Sesion</a>
        <span>o</span>
        <a href = "/Sesion/Registrarse" > Registrarse </a>
        <span>o</span>
        <a href="/Sesion/RegistroAnfitrion"> Registrarsee como anfitrion </a>
        <a class="fixed-bottom" href="/Sesion/IngresoModeracion" style="padding: 50px"> Ingresar como moderador </a>
    }
</div>
