@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
    @if (ViewBag.estaLogueado)
    {
        <div id="map" style="z-index:1"></div>

        <script type="text/javascript">
            const ACTIVIDADES = @Html.Raw(Json.Serialize(ViewBag.actividades));
            const ES_ADMIN = @Html.Raw(Json.Serialize(ViewBag.esAdmin));
        </script>
        <script src="~/js/cargarMapa.js"></script>

        @if (ViewBag.esAdmin)
        {
            <script type="text/javascript">
                setTimeout(() => {
                    location.reload();
                }, 10000);
            </script>
        }
    }
    else
    {
        <a href="/Sesion">Iniciar Sesion</a>
        <span>o</span>
        <a href = "/Sesion/Registrarse" > Registrarse </a>
        <span>o</span>
        <a href="/Sesion/RegistroAnfitrion"> Registrate como anfitrion </a>
    }
</div>
