@{
	ViewData["Title"] = "Moderacion";
}

<div>
	<div class="mt-5 container-fluid justify-content-around">
		<h1>Moderación</h1>
		<h2>Pantalla Inicial</h2>
		<a href="/Sesion/Salir" class="btn btn-primary">Salir</a>
	</div>
</div>			