@{
	ViewData["Title"] = "Notificaciones";
}

﻿<div>
	<div class="container-fluid justify-content-around ">
		<h1>Moderación</h1>
		<h2>Reportes y Notificaciones</h2>
	</div>

	<div class="card">
		<div class="card-body">
			
		</div>
	</div>
</div>
