@if (ViewBag.estaLogueado)
{
    <h1>Estas logueado</h1>
}
else
{
    <div class="container mt-5">
        <h1>Iniciar Sesion</h1>

        <form method="post" action="/Sesion/Iniciar">
         <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" id="Email" name="email" class="form-control" required />
          </div>
          <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" id="Password" name="password" class="form-control" required />
          </div>
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>

        <p class="mt-5">
            <a href="/Sesion/Registro">Registrate</a><span> si todavia no tenes cuenta</span>
        </p>
    </div>
}
